<h1><%= @game.current_player.name %> vs. <%= @game.opponent.name %></h1>

<h2><%= @game.current_player.name%>'s turn</h2>

<h3><%= @game.current_player.name %>: <%= @game.current_player.hp %>HP</h3>
<h3><%= @game.opponent.name %>:  <%= @game.opponent.hp %>HP</h3>


<a href="/attack">Attack</a>
